$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: #1C0C5B;
$primaryDark: #3D2C8D;
$primaryLight: #116530;
$disabled: #CCC;
$disabledBackground: #CCC;
$disabledColor: #666;
$valid: #4CAF50;
$invalid: #8B0000;